body {
  font-family: "Roboto", sans-serif;
}
/* шрифти */
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-36 {
  font-size: 36px;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-400 {
  font-weight: 400;
}
.line-height-24 {
  line-height: 24px;
}
.letter-spacing-02 {
  letter-spacing: 0.02em;
}
/* кольори */

.color-subtle-text {
  color: #8e8f99;
}
.color-title {
  color: #2e2f42 !important;
}
.color-light-blue {
  color: #4d5ae5 !important;
}
.color-blue{
  color:#404bbf;
}
.color-min-tittle{
  color:#212121;
}
.color-body-text{
  color:#434455;;
}
.color-grey{
  color:#e7e9fc;
}
.color-fone{
  color:#f4f4fd;
}
.color-white{
  color:#ffffff;
}
/*  */
a {
  text-decoration: none !important;
}
/* логотип */
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px !important;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5 !important;
}
.logo-heder {
  margin-right: 100px !important;
}
/* меню */
.menu-indent {
  padding-right: 25px !important;
}
.menu-trans:hover,
.menu-trans:focus {
  color: #404bbf !important;
}
.menu-write {
  display: flex;
  align-items: center;
}
/* модальне меню */
.modal-header {
  border-bottom-width: 0px !important;
}
.modal-menu {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42 !important;
}
.modal-menu:hover,
.modal-menu:focus {
  color: #4d5ae5 !important;
}
.modal-menu-active {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #4d5ae5 !important;
}
.modal-contact {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 10px;
}
/* hero */
.hero-class-img {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.6),
      rgba(46, 47, 66, 0.6)
    ),
    url(../images/fone.jpg) center center no-repeat;
  background-size: cover;
}
.custom-hero-div {
  padding: 168px 0;
}
@media (max-width: 767px) {
  .custom-hero-div {
    padding: 112px 0;
  }
}
#myButton {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
  letter-spacing: 0.02em;
}

#myButton:hover,
#myButton:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}
/* Загальна інформація */
.custom-div {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .custom-div {
    margin-bottom: 96px;
  }
}
.my-heading {
  padding-bottom: 72px;
}
/* Наш тур */
.my-row > div:not(:nth-last-child(-n + 2)) {
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .my-row > div:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }
}
@media (max-width: 767px) {
  .my-col {
    margin-bottom: 24px !important;
  }
}
/* Коментарі */
.div-comments{
  background-color: #f4f4fd; 
  padding: 120px 0;
}
.my-row-2 {
  margin: 0px 0px !important;
}
@media (max-width: 991px) {
  .my-row-2 > div {
    width: 100%;
    margin-bottom: 72px;
  }
}
.comment-text {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-comment{
  margin-bottom: 0px;
}
.div-comment-write{
  margin-top: 0px; 
  margin-bottom: 0px;
}
textarea {
  background: none !important ;
  resize: none !important;
}
::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}
.placeholder1::placeholder {
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}
/* Вибрати Нове Місто */
.col-сountrys {
  margin-top: 0px !important;
}
@media (max-width: 1200px) {
  .row > .col-сountrys {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row > .col-сountrys:not(:nth-last-child(-n + 3)) {
    margin-bottom: 72px;
  }
}
@media (max-width: 768px) {
  .row > .col-сountrys {
    width: 50%;
  }
  .row > .col-сountrys:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }
}
@media (max-width: 370px) {
  .row > .col-сountrys {
    width: 100%;
  }
  .row > .col-сountrys:not(:nth-last-child(-n + 1)) {
    margin-bottom: 72px;
  }
}
.custom-border {
  width: 168px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.custom-border:hover,
.custom-border:focus {
  border: 1px solid #404bbf;
}
.custom-country-color:hover,
.custom-country-color:focus{
  color: #404bbf;
}
/* footer */
footer {
  background-color: #2e2f42;
  padding: 100px 0;
  color: white;
}
.footer-p {
  margin: 16px 0px 0px 0px;
  width: 264px;
}
input {
  background: none !important ;
}
.placeholder2::placeholder {
  color: #ffffff !important;
}
.footer-button-indent {
  margin-right: 16px;
}
.button-content {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-col {
    margin-top: 72px !important;
  }
}
@media (max-width: 992px) {
  .footer-col {
    width: 75% !important;
  }
}
@media (max-width: 768px) {
  .footer-col {
    width: 100% !important;
  }
}
@media (max-width: 575px) {
  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-form {
    width: 100% !important;
    display: contents;
  }
  .button-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-col-logo {
    margin-bottom: 72px;
  }
}